mat-form-field {
    margin: 1rem;
    min-width: 200px;
  }
  
  .table-container {
    overflow-x: auto;
    margin-top: 1rem;
  }
  
  mat-card-title {
    font-size: 1.6rem;
    font-weight: 600;
  }
  
  hr {
    margin: 2rem 0;
    border: 1px solid #ccc;
  }
  
  .fechas-rango {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }
  
  .total-citas {
    font-weight: bold;
    margin-top: 1rem;
    font-size: 16px;
    padding: 10px;

  }
  