
.cursor{
    cursor: pointer;
}

header{
    display: flex;
    justify-content: space-between;
    height: 75;
    align-items: center;
    padding: 10px;
}
.logo{
    display: flex;
    align-items: center;
    margin-left: 2rem;
}
.logo img{
    height: 7rem;
    margin-right: 1rem;
}

a{
    text-decoration: none;
    font-weight: 800;
    color: darkgreen;
   
}