<h2 mat-dialog-title>Atender Cita</h2>
<mat-dialog-content>
  <p><strong>Ciudadano:</strong> {{data.cita.nombre_citizen}}</p>
  <p><strong>Fecha:</strong> {{data.cita.fec_registro}}</p>
  <p><strong>Hora:</strong> {{data.cita.hora}}</p>
  <mat-form-field>
    <mat-label>Estado</mat-label>
    <mat-select [(value)]="nuevoEstado">
      <mat-option value="S">Atendida</mat-option>
      <mat-option value="D">Atender</mat-option>
      <mat-option value="N">No Atendida</mat-option>

    </mat-select>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-raised-button color="primary" [disabled]="!nuevoEstado" (click)="onSave()">Guardar</button>
</mat-dialog-actions>