<div class="imagen-gober">
  <img
    class="imagen-llamada-gober"
    src="../../../assets/images/LogoGoberMeta1.png"
    alt=""
  />
</div>
<!-- 
<div class="imagen-container">
  <img src="./assets/images/catira.jpeg" alt="Imagen de catira" class="imagen-llamada">
</div> -->

<div class="nombre-container">
  <h1 class="nombre-voz animacion-nombre">
    <span class="nombre-texto">{{ nombreLlamado ? nombreLlamado : "" }}</span>
  </h1>
  <span *ngIf="puestoAsignado" class="puesto-texto">{{
    puestoAsignado ? puestoAsignado : ""
  }}</span>
</div>

<div class="visor-container">
  <div class="tabla-container" *ngIf="citasEnEspera.length > 0">
    <h2 class="titulo-espera">Llamados</h2>
    <table
      mat-table
      [dataSource]="dataSource"
      class="tabla-llamados mat-elevation-z8"
    >
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let cita">
          <div class="nombre-columna">
            🧑 <span class="nombre-texto">{{ cita.nombre_citizen }}</span>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="puesto">
        <th mat-header-cell *matHeaderCellDef>Módulo</th>
        <td mat-cell *matCellDef="let cita">
          <span class="puesto-numero">{{ cita.puesto }}</span>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['nombre', 'puesto']"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: ['nombre', 'puesto']"
        class="fila-animada"
      ></tr>
    </table>
  </div>
</div>
