<nav>
    
    <ul class="list">
        <li class="list_item">
            <div class="list__button">
                <i class="bi bi-box-arrow-right"></i>
                <a href="" class="nav__link">Inicio</a>
            </div>
         
        </li>

        <li class="list__item">
            <div class="list__button list__button--click">
                <i class="bi bi-calendar-range"></i>
                <a href="" class="nav__link">Citas</a>
                <i class="bi bi-box-arrow-right"></i>

            </div>

            <ul class="list__show">
                <li class="list__inside">
                    <a href="" class="nav__link"></a>
                </li>
            </ul>
        </li>
    </ul>
</nav>