<!-- <nav>
    
    <ul class="list">
        <li class="list_item">
            <div class="list__button">
                <i class="bi bi-box-arrow-right"></i>
                <a href="" class="nav__link">Inicio</a>
            </div>
         
        </li>

        <li class="list__item">
            <div class="list__button list__button--click">
                <i class="bi bi-calendar-range"></i>
                <a href="" class="nav__link">Citas</a>
                <i class="bi bi-box-arrow-right"></i>

            </div>

            <ul class="list__show">
                <li class="list__inside">
                    <a href="" class="nav__link"></a>
                </li>
            </ul>
        </li>
    </ul>
</nav> -->

<nav class="sidenav" (click)="toggleMenu()" [ngClass]="collapsed ?  'sidenav-collapsed': ''">

    <div class="logo-container">
        <button class="logo" (click)="toggleCollapse()">A</button>
        <div class="logo-text" *ngIf="collapsed">
            Agend
        </div>
        <button class="btn-close" *ngIf="collapsed" (click)="closeSidenav()">
            <i class="fal fa-times close-icon"></i>
        </button>
    </div>
    <ul class="sidenav-nav">
        <li class="sidenav-nav-item" *ngFor="let data of navData">
            <a class="sidenav-nav-link" [routerLink]="[data.routeLink]" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">
                <i class="sidenav-link-icon" [class]="data.icon"> </i>
                <span class="sidenav-link-text" *ngIf="collapsed">
                    {{data.label}}
                </span>

            </a>
        </li>
    </ul>
    <!-- <ul>
        <li class="list active" #listItems>
            <a href="" style="--clr: #f44336;">
                <span class="icon"><i class="bi bi-house"></i></span>
                <span class="text">Inicio</span>
            </a>

        </li>
        <li class="list" #listItems>
            <a href="" style="--clr: #f44336;">
                <span class="icon"><i class="bi bi-aspect-ratio"></i></span>
                <span class="text">Inicio</span>
            </a>

        </li>
        <li class="list" #listItems>
            <a href="" style="--clr: #f44336;">
                <span class="icon"><i class="bi bi-fingerprint"></i></span>
                <span class="text">Citas</span>
            </a>

        </li>
        <li class="list" #listItems>
            <a href="" style="--clr: #f44336;">
                <span class="icon"><i class="bi bi-fingerprint"></i></span>
                <span class="text">Usuarios</span>
            </a>

        </li>
    </ul> -->
</nav>

<!-- https://www.youtube.com/watch?v=m5LvqOVltlA -->