<!-- <nav>
    
    <ul class="list">
        <li class="list_item">
            <div class="list__button">
                <i class="bi bi-box-arrow-right"></i>
                <a href="" class="nav__link">Inicio</a>
            </div>
         
        </li>

        <li class="list__item">
            <div class="list__button list__button--click">
                <i class="bi bi-calendar-range"></i>
                <a href="" class="nav__link">Citas</a>
                <i class="bi bi-box-arrow-right"></i>

            </div>

            <ul class="list__show">
                <li class="list__inside">
                    <a href="" class="nav__link"></a>
                </li>
            </ul>
        </li>
    </ul>
</nav> -->

<nav class="navigation" (click)="toggleMenu()" #navigation>
    <div class="menuToogle" #menuToggle>

    </div>
    <ul>
        <li class="list">
            <a href="" style="--clr: #f44336;">
                <span class="icon"></span>
                <span class="text">Inicio</span>
            </a>

        </li>
        <li class="list">
            <a href="" style="--clr: #f44336;">
                <span class="icon"></span>
                <span class="text">Inicio</span>
            </a>

        </li>
    </ul>
</nav>

<!-- https://www.youtube.com/watch?v=m5LvqOVltlA -->