<div class="office-list">
  <div class="office-container">
    <mat-card
      *ngFor="let oficina of oficinas"
      (click)="openConfirmDialog(oficina)"
      class="office-card"
    >
      <mat-card-title>{{ oficina.nombre }}</mat-card-title>
    </mat-card>
  </div>
</div>

<button mat-icon-button color="primary" (click)="liberarModulo()">
  Liberar módulo
</button>
<div
  style="margin-bottom: 10rem; height: 23rem"
  class="m-3"
  *ngIf="
    oficinaSeleccionada && (citas.length > 0 || citasPrioritarias.length > 0)
  "
>
  <div
    style="display: flex; align-items: center; justify-content: space-between"
  >
    <h2>{{ oficinaSeleccionada.nombre }}</h2>
    <button mat-icon-button (click)="reloadCitas()">
      <mat-icon>refresh</mat-icon>
    </button>
  </div>

  <div>
    <h3>Citas Prioritarias</h3>
    <table
      mat-table
      [dataSource]="citasPrioritarias"
      class="mat-elevation-z8"
      *ngIf="citasPrioritarias.length > 0; else noPrioritarias"
    >
      <ng-container matColumnDef="nombre_citizen">
        <th mat-header-cell *matHeaderCellDef>Ciudadano</th>
        <td mat-cell *matCellDef="let cita">{{ cita.nombre_citizen }}</td>
      </ng-container>
      <ng-container matColumnDef="fec_registro">
        <th mat-header-cell *matHeaderCellDef>Fecha</th>
        <td mat-cell *matCellDef="let cita">
          {{ cita.fecha_cita  | date:'dd/MM/yyyy hh:mm a' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="modulo">
        <th mat-header-cell *matHeaderCellDef>Módulo</th>
        <td mat-cell *matCellDef="let cita">{{ cita.turno }}</td>
      </ng-container>
      <ng-container matColumnDef="atendida">
        <th mat-header-cell *matHeaderCellDef>Estado</th>
        <td mat-cell *matCellDef="let cita">
          {{ getAtendidaLabel(cita.atendida) }}
        </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Acción</th>
        <td mat-cell *matCellDef="let row">
          <button mat-raised-button color="accent" >
            🔊 Llamar
          </button>
          <button mat-raised-button color="primary" (click)="atenderCitaPrioritaria(row)">
            <mat-icon>play_arrow</mat-icon>
            Atender cita
          </button>
          <button mat-raised-button color="accent" (click)="terminarCita(row)">
            <mat-icon>check_circle</mat-icon>
            Terminar cita
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <ng-template #noPrioritarias>
      <p>No hay citas prioritarias disponibles.</p>
    </ng-template>
  </div>

  <hr />
  <div style="margin-bottom: 5rem;">
    <h3>Citas</h3>
    <table
      mat-table
      [dataSource]="citas"
      class="mat-elevation-z8"
      *ngIf="citas.length > 0; else noNormales"
    >
      <ng-container matColumnDef="nombre_citizen">
        <th mat-header-cell *matHeaderCellDef>Ciudadano</th>
        <td mat-cell *matCellDef="let cita">{{ cita.nombre_citizen }}</td>
      </ng-container>
      <ng-container matColumnDef="fec_registro">
        <th mat-header-cell *matHeaderCellDef>Fecha</th>
        <td mat-cell *matCellDef="let cita">{{ cita.fec_registro | date:'dd/MM/yyyy hh:mm a'}}</td>
      </ng-container>
  

      <ng-container matColumnDef="modulo">
        <th mat-header-cell *matHeaderCellDef>Módulo</th>
        <td mat-cell *matCellDef="let cita">
          {{cita.puesto }}
        </td>
      </ng-container>

      <ng-container matColumnDef="atendida">
        <th mat-header-cell *matHeaderCellDef>Estado</th>
        <td mat-cell *matCellDef="let cita">
          {{ getAtendidaLabel(cita.atendida) }}
        </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Acción</th>
        <td mat-cell *matCellDef="let row">

          <button mat-raised-button color="accent" (click)="llamarCita(row)">
            🔊 Llamar
          </button>
      

          <button mat-icon-button color="primary" (click)="atenderCita(row)">
            <mat-icon>play_arrow</mat-icon>
          </button>
          <button
            mat-icon-button
            color="accent"
            [disabled]="atendiendoCitaId !== row.id_cita"
            (click)="terminarCita(row)"
          >
            <mat-icon>check_circle</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <!-- <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr> -->
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        [class.atendiendo]="row.id_cita === atendiendoCitaId"
      ></tr>
    </table>
    <ng-template #noNormales>
      <p>No hay citas normales disponibles.</p>
    </ng-template>
    <hr>
  </div>
</div>
