<h1 mat-dialog-title>Reasignar Citas</h1>
<div mat-dialog-content>
  <form [formGroup]="reasignarForm">
    <mat-form-field appearance="fill">
      <mat-label>Fecha</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        formControlName="fecha"
        [min]="minDate"
        [max]="maxDate"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <h3>Listado de Citas</h3>

    <mat-form-field>
      <mat-label>Buscar</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ingresa nombre" #input>
    </mat-form-field>
    
    <table mat-table [dataSource]="citas" class="mat-elevation-z8">
      <ng-container matColumnDef="checkbox">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox
            (change)="toggleAllCitas($event.checked)"
            [checked]="allSelected"
            [indeterminate]="
              selectedCitas.size > 0 && selectedCitas.size < citas.data.length
            "
          >
            Seleccionar Todos
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let cita">
          <mat-checkbox
            (change)="toggleCitaSelection(cita, $event.checked)"
            [checked]="selectedCitas.has(cita)"
          >
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="id_cita">
        <th mat-header-cell *matHeaderCellDef>Documento</th>
        <td mat-cell *matCellDef="let cita">{{ cita.cedula }}</td>
      </ng-container>

      <ng-container matColumnDef="nombre_citizen">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let cita">{{ cita.nombre_citizen }}</td>
      </ng-container>

      

      <ng-container matColumnDef="turn_desc">
        <th mat-header-cell *matHeaderCellDef>Turno</th>
        <td mat-cell *matCellDef="let cita">
          {{ cita.fec_registro | date : "dd/MM/yyyy hh:mm a" }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No se encontro el formalizador "{{input.value}}"</td>
      </tr>
    </table>
  </form>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="cancelar()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="reasignarCitas()">
    Reasignar
  </button>
</div>
