/* You can add global styles to this file, and also import other style files */
// @import "~normalize.css/normalize.css";




html,
body {
  height: 100%;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.card{
  display: flex;
  flex-direction: column;
  border-radius: .5rem;
  background-color: #fff;
  margin: 1.25rem 0 1.25rem 0;
  box-shadow: 0 .25rem .5rem #e6edef ;

  .card-head{
    padding: 1rem 1.5rem;
    border-bottom: 1px solid #edf1f7;
    font-size: 1rem;
    font-weight: 600;
  }
  .card-body{
    padding: 1rem 1.5rem;
  }
}




@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'Montserrat', sans-serif;
}