<!-- <div *ngIf="userLoginOn">
    <p>
        Nombre: {{userData?.name}}
    </p>
    <p>Email: {{userData?.email}}</p>


    <h2>Bienvenido</h2>
</div> -->

<div>
    <h2>Bienvenido</h2>
    <!-- <p>Tipo: {{userData?.type}}</p> -->

    <div class="card">
        <div class="card-head">Pasaportes </div>
        <div class="card-body">
            Modulo de pasaportes
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint id totam dolores exercitationem velit, cum
            minus, voluptatum voluptas vero est, explicabo saepe ducimus architecto voluptatibus? Quisquam veniam
            nam omnis placeat.
        </div>

    </div>

 
</div>